.nav {
    background-color: white;
    box-shadow: 1px 1px 5px $text-colour;
    color: $text-colour;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;

    &__title {
        border-bottom: 1px solid $grey;
        margin: 0;
        padding: 50px 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }

    &__item {
        border-right: 1px solid $grey;
        display: flex;
        font-family: $secondary-font;
        font-weight: bold;
        letter-spacing: 0.1rem;

        &:last-child {
            border-right: none;
        }

        & > * {
            color: $text-colour;
            padding: 15px 60px;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                background-color: $light-grey;
            }
        }
        
        &--active {
            background-color: $lighter-grey;
        }
    }
}
